#! /usr/bin/env bash

#
# {{ ansible_managed }}
#


# Colors
    colorred="\033[31m"
    colorpowder_blue="\033[1;36m" #with bold
    colorblue="\033[34m"
    colornormal="\033[0m"
    colorwhite="\033[97m"
    colorlightgrey="\033[90m"
    red="\033[00;31m"
    RED="\033[01;31m"
    green="\033[00;32m"
    GREEN="\033[01;32m"
    brown="\033[00;33m"
    YELLOW="\033[01;33m"
    blue="\033[00;34m"
    BLUE="\033[01;34m"
    purple="\033[00;35m"
    PURPLE="\033[01;35m"
    cyan="\033[00;36m"
    CYAN="\033[01;36m"
    white="\033[00;37m"
    WHITE="\033[01;37m"
    NC="\033[00m"

# Basic info
HOSTNAME=`uname -n`

# System load
MEMORY1=`free -t -m | grep Total | awk '{print $3" MB";}'`
MEMORY2=`free -t -m | grep "Mem" | awk '{print $2" MB";}'`
LOAD1=`cat /proc/loadavg | awk {'print $1'}`
LOAD5=`cat /proc/loadavg | awk {'print $2'}`
LOAD15=`cat /proc/loadavg | awk {'print $3'}`

{% if docker %}
dRunning=$(docker ps -q | wc -l)
dExited=$(docker ps -aq --filter status=exited | wc -l)
dImages=$(docker images -q | wc -l)
dServices=$(docker service ls -q | wc -l)

printf "                   ${colorred} ##       ${colorlightgrey} .         \n"
printf "             ${colorred} ## ## ##      ${colorlightgrey} ==         \n"
printf "           ${colorred}## ## ## ##      ${colorlightgrey}===         \n"
printf "       /\"\"\"\"\"\"\"\"\"\"\"\"\"\"\"\"\\\___/ ===       \n"
printf "  ${colorblue}~~~ ${colorlightgrey}{${colorblue}~~ ~~~~ ~~~ ~~~~ ~~ ~ ${colorlightgrey}/  ===- ${colorblue}~~~${colorlightgrey}\n"
printf "       \\\______${colorwhite} o ${colorlightgrey}         __/           \n"
printf "         \\\    \\\        __/            \n"
printf "          \\\____\\\______/               \n"
printf "${colorpowder_blue}                                          \n"
printf "          |          |                    \n"
printf "       __ |  __   __ | _  __   _          \n"
printf "      /  \\\| /  \\\ /   |/  / _\\\ |     \n"
printf "      \\\__/| \\\__/ \\\__ |\\\_ \\\__  | \n"
printf " ${colornormal}                                         \n"
{% endif %}


echo -e "${RED}******************************************************************************"
echo -e "${RED}**                                                                          **"
echo -e "${RED}******************************************************************************"
RANDOM_NB=$(($RANDOM % 100))
upSeconds="$(/usr/bin/cut -d. -f1 /proc/uptime)"
secs=$((${upSeconds}%60))
mins=$((${upSeconds}/60%60))
hours=$((${upSeconds}/3600%24))
days=$((${upSeconds}/86400))
UPTIME=`printf "%d days, %02dh%02dm%02ds" "$days" "$hours" "$mins" "$secs"`
WHO=$(who | awk '{print $1}' | grep -v root | sort -n | uniq -c | awk '{print $2}' | tr '\n' ',')
HOSTNAME=$(uname -n)
KERNEL=$(uname -srmo)
DISKSPACE=$(df -H | egrep -v "tmpfs|Filesystem" | awk '{print "\t\t\t"$5" "$6}')
# get the load averages
read one five fifteen rest < /proc/loadavg

echo -e ""
echo -e "${WHITE} Welcome ${YELLOW}${USER} ${WHITE}"
echo -e ""

echo -e "${WHITE} Date: $(date) ${NC}"
echo -e ""


echo -e "${WHITE} Hostname..........: ${HOSTNAME}"
echo -e "${WHITE} Load Averages.....: ${one}, ${five}, ${fifteen} (1, 5, 15 min)"
echo -e "${WHITE} Running Processes.: `ps ax | wc -l | tr -d \" \"` "
echo -e "${WHITE} Kernel............: ${KERNEL}"
echo -e "${WHITE} Uptime............: ${UPTIME}"
echo -e "${WHITE} Disk Space........: "
echo -e "${DISKSPACE}"
echo -e ""
echo -e "${WHITE} Who's Here........: ${WHO::-1}"
echo -e ""

echo -e "${RED}******************************************************************************"
echo -e "${RED}**                                 ${WHITE}SERVICES${RED}                                 **"
echo -e "${RED}******************************************************************************${WHITE}"

echo -e "
{% for service in services %}
    {{service}} $(if [ $(systemctl is-active  {{service}}) == "active" ] ; then echo -e  "\e[32m$(systemctl is-active {{service}})\e[39m"; else echo -e "\e[31m\e[25m$(systemctl is-active {{service}})\e[39m" ; fi)
{% endfor %}
" | column -t


echo -e "${RED}***************************${WHITE}W A R N I N G${RED}**************************************"
echo -e "${RED}**                 ${WHITE}Private System. No UnAuth Access                         ${RED}**"
echo -e "${RED}******************************************************************************${NC}"
if [ -f /etc/message.txt ]; then
    MESSAGE=$(cat /etc/message.txt)
    echo -e "${RED}**${YELLOW}  Ghost is saying:${WHITE} ${MESSAGE}"
    echo -e "${RED}******************************************************************************${NC}"
fi

